local.json
python-lib/cuddlefish/app-extension/components/jetpack.xpt
testdocs.tgz
jetpack-sdk-docs.tgz
.test_tmp/
doc/dev-guide/
doc/index.html
doc/packages/
doc/status.md5
packages/*
!packages/addon-kit/
!packages/api-utils/
!packages/test-harness/

# Python
*.pyc

# OSX
*.DS_Store

# Windows
*Thumbs.db

