local.json
python-lib/cuddlefish/app-extension/components/jetpack.xpt
testdocs.tgz
jetpack-sdk-docs.tgz
.test_tmp/
jetpack-sdk-docs/

# If you want to add other files here, like *.pyc and *.DS_Store,
# please add them to a global git ignore file.
#
# You can do this by creating ~/.gitignore and then running:
#
# git config --global core.excludesfile ~/.gitignore
