
#cannot-ping {
  padding: 0.5em;
  background: #aa0000;
  color: white;
  display: none;
}

#columns {
  display: table;
  height: 100%;
}

#left-column {
  width: 25em;
  padding: 1em;
  display: table-cell;
}

#right-column {
  width: 40em;
  padding: 1em;
  display: table-cell;
}

#sidenotes {
  width: 15em;
  display: table-cell;
}

#footer .actions {
  display: block;
  float: right;
}

#view-source {
  color: white;
  text-decoration: none;
}

.meta-header {
  font-weight: bold;
}

.sidebar-section .modules {
  padding-left: 25px;
}

.package-entry .modules
.package-detail .modules {
  margin: 0em;
  padding-left: 0;
}

.module {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.package-summary .module {
  padding-left: 0em;
}

.package-summary .module,
.package-entry .module,
.package-detail .module {
  display: inline;
  white-space: nowrap;
  margin-left: 0em;
}

.package-detail .authors, .package-detail .dependencies,
.package-detail .version, .package-detail .license {
  font-family: Monaco, Lucida Console, monospace;
  font-size: 0.8em;
  white-space: pre;
}

#templates {
  display: none;
}

.aside {
  color: gray;
  border-left: gray 1px solid;
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td, tr {
  border: 1px black solid;
}

td {
  padding: 0.5em;
}

/* Rule to fix quirks-mode inheritance behavior */
table, caption {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
}

table.meta-table, .meta-table td, .meta-table tr {
  vertical-align: top;
  border: none;
  padding: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 5em;
}

table.meta-table {
  margin-top: 0.5em;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

.technical-error {
  font-family: Monaco, Lucida Console, monospace;
  font-size: 8pt;
  white-space: pre-wrap;
  color: red;
}

#footer {
  background: #33559b url(/media/bg-footer.png) 0 0 repeat-x;
  clear: both;
  color: #476FBE;
  display: block;
  font-family: Georgia,serif;
  min-width: 978px;
  padding: 123px 0 5px 0;
}

#footer a:link,#footer a:visited {
  color: #669BE1;
  text-decoration: none;
}

#footer a:hover,#footer a:active {
  color: #fff;
  text-decoration: underline;
}

.site-title a, .site-title a:visited, .site-title a:hover, .site-title a:focus {
  color: #444;
  font-family: MetaBlack,'Trebuchet MS',sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 2.0em;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
  padding-left: 0.2em;
}

.site-title img {
  vertical-align: bottom;
}

#right-column h1 {
  font-size: 2.2em;
}

#right-column h2 {
  font-size: 1.7em;
}

.sidebar-section {
  background-color: #E0EFFD;
  margin-bottom: 1.0em;
  border-style: solid;
  border-color: #E0EFFD;
  border-width: 2px;
  -moz-border-radius: 5px;
}

.sidebar-section-contents {
  display: none;
}

.sidebar-section ul {
  margin-bottom: 0.2em;
  list-style: none;
}

.sidebar-section h2, .sidebar-section h3, .sidebar-section h4 {
  padding-left: 10px;
}

.sidebar-section li li {
  padding-left: 30px;
  margin-left: 0;
}

.sidebar-section .modules {
  padding-left: 25px;
}

.sidebar-section .module {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sidebar-section h2, .sidebar-section h3 {
  background: #E0EFFD;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  background: #E0EFFD;
  font-weight: bold;
  font-style: normal;
  font-family: arial, helvetica, sans-serif;
}

.sidebar-section h2 {
  font-size: 1.2em;
  -moz-border-radius: 5px;
}

.sidebar-section h3 {
  font-size: 1.0em;
}

.sidebar-section h4 {
  font-weight: normal;
}

.sidebar-section li {
  margin-left: 0;
}

.current-section {
  background: #F0F8FF;
}

.sidebar-section .current-page {
  background: white;
}
