
/*
#container and #push CSS is
used to implement a 'sticky footer'
*/
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

#footer, #push {
  height: 4em;
  clear: both;
}

#footer {
  background: #33559b url(../media/bg-footer.png) 0 0 repeat-x;
  color: white;
  display: block;
  font-family: Georgia,serif;
  min-width: 978px;
  padding: 400px 0 0 0;
}

#left-column {
  float: left;
  width: 18em;
  margin: 1em;
}

#right-column {
  float: left;
  width: 60%;
  margin: 1em;
}

.aside {
  color: gray;
  float: right;
  padding-left: 1em;
  margin-left: 1em;
  margin-right: -10%;
  width: 25%;
  border-left: 1px solid gray;
}

.warning {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  padding: 1em;
  border: solid 2px black;
  width: 75%;
  background-color: #C63717;
  color: white;
}

.title {
  margin-bottom: 10px;
}

.logo {
  margin-left: 5px;
  float:left;
}

.title-text {
  font-family: MetaBlack,'Trebuchet MS',sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.4em;
  padding-left: 0.2em;
  margin-bottom: .2em;
  margin-top: -0.3em;
}

.meta-header {
  font-weight: bold;
}

.sidebar-section .modules {
  padding-left: 25px;
}

.package-entry .modules
.package-detail .modules {
  margin: 0em;
  padding-left: 0;
}

.module {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-left: 0em;
  padding-right: 0em;
  margin-right: 1.0em;
}

.package-summary .module {
  padding-left: 0em;
}

.package-summary .module,
.package-entry .module,
.package-detail .module {
  display: inline;
  white-space: nowrap;
  margin-left: 0em;
}

.package-detail .authors, .package-detail .dependencies,
.package-detail .version, .package-detail .license {
  font-family: Monaco, Lucida Console, monospace;
  font-size: 0.8em;
  white-space: pre;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td, tr {
  border: 1px black solid;
}

td {
  padding: 0.5em;
}

/* Rule to fix quirks-mode inheritance behavior */
table, caption {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
}

table.meta-table, .meta-table td, .meta-table tr {
  vertical-align: top;
  border: none;
  padding: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 5em;
}

table.meta-table {
  margin-top: 0.5em;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

.technical-error {
  font-family: Monaco, Lucida Console, monospace;
  font-size: 8pt;
  white-space: pre-wrap;
  color: red;
}

#footer .full-name {
  margin-left: 0.5em;
}

#right-column h1 {
  font-size: 2.2em;
}

#right-column h2 {
  font-size: 1.7em;
}

.sidebar-section {
  clear: both;
  background-color: #d1e8fd;
  margin-bottom: 1.0em;
  border-style: solid;
  border-color: #a0d0fb;
  border-width: 1px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.sidebar-subsection-contents {
  display: none;
  background: #F0F8FF;
}

.always-show {
  display: normal;
}

.sidebar-section ul {
  margin-bottom: 0.2em;
  list-style: none;
}

.sidebar-section li li {
  padding-left: 30px;
  margin-left: 0;
}

.sidebar-section .modules {
  padding-left: 25px;
}

.sidebar-section h2, .sidebar-section h3, .sidebar-section h4 {
  padding-left: 10px;
}

.sidebar-section h2, .sidebar-section h3 {
  background: #d1e8fd;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  background: #d1e8fd;
  font-weight: bold;
  font-style: normal;
  font-family: arial, helvetica, sans-serif;
  border-bottom-style: solid;
  border-color: #a0d0fb;
  border-width: 1px;
}

.sidebar-section h2 {
  font-size: 1.2em;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topleft: 5px;
  -webkit-border-radius-topright: 5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  border-radius-topleft: 5px;
  border-radius-topright: 5px;
}

.sidebar-section h3 {
  font-size: 1.0em;
  border-top-style: solid;
}

.sidebar-section h4 {
  font-weight: normal;
}

.sidebar-section li {
  margin-left: 0;
}

.current-section {
  background: #F0F8FF;
}

.sidebar-section .current-page {
  background: white;
}

.image-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
